{% extends "main/base.html" %}
{% load static %}
{% block content %}
    <div class="album py-5 bg-body-tertiary">
        <div class="container">
            <div class="col-12">
                <div class="row">
                    <!-- Кнопка "Добавить" -->
                    <div class="col-1 d-flex justify-content-start">
                        <a class="btn btn-outline-primary btn-circle-add d-flex justify-content-center align-items-center mx-auto"
                           href="{% url 'main:client_create' %}"
                           role="button">
                            <img src="{% static 'crud_icons/add.png' %}" alt="Добавить новую версию"
                                 class="btn-add-icon">
                        </a>
                    </div>
                    <div class="col-7 d-flex justify-content-start">
                        <h6 class="text-danger">Пользователь видит только тех клиентов, которых сам добавил!<br>
                            <small class="text-primary">Либо пользователь должен быть менеджером или superuser.</small>
                        </h6>
                    </div>
                </div>

            </div>
            <!-- Список клиентов -->
            <div class="row">
                {% for client in object_list %}
                    <div class="col-md-4 mb-4">
                        <div class="card h-100">
                            <div class="card-header">
                                <h5><small>Клиент: </small>{{ client.last_name }} {{ client.first_name }}</h5>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    Email: {{ client.email }}
                                </li>
                                <li class="list-group-item">
                                    Комментарий: {{ client.comment }}
                                </li>
                                <li class="list-group-item">
                                    Добавлен пользователем: {{ client.user }}
                                </li>
                                <li class="list-group-item">
                                    <div class="btn-group text-center">
                                        <a class="btn btn-outline-secondary btn-circle"
                                           href="{% url 'main:client_update' client.pk %}"
                                           role="button" title="Изменить">
                                            <img src="{% static 'crud_icons/edit.png' %}" alt="Изменить"
                                                 class="btn-icon">
                                        </a>

                                        <a class="btn btn-outline-secondary btn-circle btn-delete"
                                           href="{% url 'main:client_delete' client.pk %}"
                                           role="button" title="Удалить">
                                            <img src="{% static 'crud_icons/delete.png' %}" alt="Удалить"
                                                 class="btn-icon">
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
