{% extends "main/base.html" %}
{% load static %}
{% block content %}
    <div class="album py-5 bg-body-tertiary">
        <div class="container">
            <div class="col-12">

                <div class="row">
                    <!-- Кнопка "Добавить" -->
                    {% if can_switch_mailing and not request.user.is_superuser %}
                    {% else %}
                    <div class="col-1 d-flex justify-content-start">
                        <a class="btn btn-outline-primary btn-circle-add d-flex justify-content-center align-items-center mx-auto"
                           href="{% url 'main:mailing_create' %}"
                           role="button">
                            <img src="{% static 'crud_icons/add.png' %}" alt="Добавить новую версию"
                                 class="btn-add-icon">
                        </a>
                    </div>
                    {% endif %}
                    <div class="col-7 d-flex justify-content-start">
                        <h6 class="text-danger">Пользователь видит только те рассылки, автором которых является!<br>
                            <small class="text-primary">Либо пользователь должен быть менеджером или
                                superuser.</small>
                        </h6>
                    </div>
                </div>

            </div>

            <!-- Список клиентов -->
            <div class="row">

                {% for mailing in object_list %}
                    <div class="col-md-4 mb-4">
                        <div class="card h-100">
                            <div class="card-header">
                                <h5><small>Рассылка </small>{{ mailing.pk }}</h5>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    Клиенты:
                                    {% for client in mailing.clients.all %}
                                        {{ client.email }}
                                        {% if not forloop.last %}, {% endif %}
                                    {% endfor %}
                                </li>
                                <li class="list-group-item">
                                    Сообщение: {{ mailing.message }}
                                </li>
                                <li class="list-group-item">
                                    Интервал: {{ mailing.interval }}
                                </li>
                                <li class="list-group-item">
                                    Статус: {{ mailing.status }}
                                </li>
                                <li class="list-group-item">
                                    {% if mailing.is_active %}
                                        Рассылка включена
                                    {% else %}
                                        Рассылка выключена
                                    {% endif %}
                                </li>
                                <li class="list-group-item">
                                    Автор: {{ mailing.user }}
                                </li>
                                <li class="list-group-item">
                                    <div class="btn-group text-center">
                                        {% if user.is_superuser or can_change_mailing or mailing.user == request.user or can_switch_mailing %}
                                            <a class="btn btn-outline-secondary btn-circle"
                                               href="{% url 'main:mailing_update' mailing.pk %}"
                                               role="button" title="Изменить">
                                                <img src="{% static 'crud_icons/edit.png' %}" alt="Изменить"
                                                     class="btn-icon">
                                            </a>
                                        {% else %}
                                            <h6 class="text-secondary">У вас нет права редактировать или удалять
                                                рассылку</h6>
                                        {% endif %}
                                        {% if user.is_superuser or can_delete_mailing or mailing.user == request.user %}
                                            <a class="btn btn-outline-secondary btn-circle btn-delete"
                                               href="{% url 'main:mailing_delete' mailing.pk %}"
                                               role="button" title="Удалить">
                                                <img src="{% static 'crud_icons/delete.png' %}" alt="Удалить"
                                                     class="btn-icon">
                                            </a>
                                        {% endif %}
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
